body, div, p, h1, h2, h3, h4, h5, h6, ul, li, dl, dd, dt, form, section, header, table, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  /*perspective: 500px;*/
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #fafafa;

  /*transform-style: preserve-3d;*/
}

.page-four {
  z-index: 4;
}

.hide {
  display: none;
}

.next-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 160px;
  height: 60px;
  margin-left: -80px;
  text-align: center;
  background: url(./../images/btn-start.png) no-repeat;
  background-size: contain;
}

.box {
  width: 200px;
  height: 200px;
  background: #ddd;

  /*-webkit-animation: slowRotate 6s ease-in-out;
  animation: slowRotate 6s ease-in-out;*/
}

@keyframes slowRotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 181deg);
    transform: rotate3d(0, 0, 1, 181deg);
  }
}

img {
  width: 100%;
}

.next-btn:active {
  background-image: url(./../images/btn-start-a.png);
}

.turntable {
  position: absolute;
  left: 50%;
  top: 22%;
  margin-left: -120px;
  width: 240px;
  height: 240px;

  /*transform-style: preserve-3d;
  perspective: 500px;*/
}

.turntable img {
  margin-top: -8px;
}

.turntable div {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  border: 2px solid #5a4398;
  border-radius: 50%;
}

.turntable .lottery_btn {
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: #ffcc33;
  text-align: center;
  background-color: #f7464e;
}

.turntable .pointer {
  z-index: 2;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
}

.turntable .pointer:before,
.turntable .pointer:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
}

.turntable .pointer:before {
  margin-top: -7px;
  border: 7px solid transparent;
  border-left-color: #5a4398;
  border-left-width: 18px;
}

.turntable .pointer:after {
  margin-top: -5px;
  margin-left: -1px;
  border: 5px solid transparent;
  border-left-color: #fff;
  border-left-width: 14px;
}

.slideUp {
  animation: SlideUp 1s ease;
}

@keyframes SlideUp {
  0% { transform: translate3d(0, 100%, 0) }
  100% { transform: translate3d(0, 0, 0) }
}